/* font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif; */

/* html *{
    background-color: rgba(137, 43, 226, 0.175);
    outline: grey dotted 1px;
} */

body *{
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif; 
    color: white;
}

body{
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

header{
    text-transform: uppercase;
    background-image: url(images/mobile/image-hero.jpg);
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

#navWrapper{
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    align-self: center;
}

#logoHeader{
    width: 130px;
    height: fit-content;
}

#desktopNavWrapper{
    width: fit-content;
    flex-direction: row;
    text-transform: none;
    gap: 20px;
}

.desktopNav{
    font-family: 'Alata', sans-serif;
}

#hamburgerMenu{
    width: 20px;
    height: fit-content;
}

#headText{
    max-width: 250px;
    align-self: center;
    padding: 15px 20px 15px 20px;
    margin: 175px 20px 175px 20px;
    border-style: solid;
    border-width: 3px;
}

#interactiveVR{
    align-self: center;
    max-width: 300px;
    margin-top: 75px;
}

#vrHeader{
font-size: 25px;
align-self: center;
text-align: center;
color: #282828;
margin:40px 0 10px 0;
text-transform: uppercase;
width: 90%;
}

#vrText{
max-width: 230px;
align-self: center;
text-align: center;
font-family: 'Alata', sans-serif;
color: #808080;
font-size: 14px;
line-height: 20px;
}

.rowWrapper{
    gap: 20px;
}

#creations{
    text-align:center;
    color: #282828;
    text-transform: uppercase;
    font-size: 25px;
    margin: 50px 0 0 0;
}

#creationsWrapper{
    margin-top: 25px;
    gap: 20px;
}

.creationSection{
    width: 150px;
    height: 100%;
    margin: 0 0 0 0 ;
    padding: 35px 0 0 20px;
    text-transform: uppercase;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.7411297282584909) 0%, rgba(0,212,255,0) 100%); 
}
 .creationHero{
    max-width: 327px;
    height: 120px;
    align-self: center;
 }

 #deepEarth{
    background-image: url(images/mobile/image-deep-earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 #nightArcade{
    background-image: url(images/mobile/image-night-arcade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 #soccer{
    background-image: url(images/mobile/image-soccer-team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 #theGrid{
    background-image: url(images/mobile/image-grid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 #fromAbove{
    background-image: url(images/mobile/image-from-above.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 #pocketBorealis{
    background-image: url(images/mobile/image-pocket-borealis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 #theCuriosity{
    background-image: url(images/mobile/image-curiosity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 #fishEye{
    background-image: url(images/mobile/image-fisheye.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 #seeAll{
    width: fit-content;
    align-self: center;
    background-color: rgba(255, 255, 255, 0);
    border-color: #808080;
    font-family: 'Alata', sans-serif;
    color: #282828;
    padding:  10px 35px 10px 35px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 30px;
    margin-bottom: 90px;
    border-style: solid;
 }

 footer{
    justify-content: center;
    align-items: center;
    padding: 75px 0 75px 0;
    gap: 30px;
    text-align: center;
    background-color:black;
 }

 #logoFooter{
    width: 150px;
    align-self: center;
 }

 .footerNav{
    font-family: 'Alata', sans-serif;
 }

 #socialWrapper{
    flex-direction: row;
    gap: 15px;
 }

 .socialIcons{
    height: 25px;
    width: fit-content;
 }

 #copyright{
    color: #808080;
    font-family: 'Alata', sans-serif;
    bottom: 10px;
 }

 @media screen and (max-width: 768px) {
    #desktopNavWrapper{
        display: none;
    }
 }

 @media screen and (max-width: 920px) {
    #creations{
        width: 750px;
        align-self: center;
    }

    #seeAll{
        left: 680px;
    }
 }


 @media screen and (min-width: 780px) {

    header{
        background-image: url(images/desktop/image-hero.jpg);
    }

    #hamburgerMenu{
        display: none;
    }

    #headText{
        align-self: flex-start;
        left: 100px;
        font-size:50px;
        max-width: 400px;
        padding: 30px 50px 30px 30px;
    }
    
/* test */

    main{
        align-self: center;
        max-width: 905px;
        margin-bottom: 40px;
    }

    #vrSection{
        flex-direction: row;
    }

    #interactiveVR{
        max-width: 575px;
        right: 100px;
    }

    #vrSectionText{
        height: fit-content;
        position: absolute;
        width: fit-content;
        padding: 50px 0 0 50px;
        background-color: white;
        top: 230px;
        left: 520px;        
    }

    #vrHeader{
        max-width: 250px;
        text-align: left;
        align-self: flex-start;
        margin-top: 0px;
    }

    #vrText{
        text-align: left;
        max-width: 410px;
        align-self: flex-start;
    }

    #creations{
        margin-top: 75px;
        text-align: left;
    }

    #creationsWrapper{
        margin-top: 40px;
    }

    .rowWrapper{
        gap: 20px;
        flex-direction: row;
    }

    .creationHero{
        width: 175px;
        height: 300px;
    }

    .creationSection{
        padding: 200px 0 0 25px ;
        background: linear-gradient(0deg, rgba(0,0,0,0.7411297282584909) 0%, rgba(0,212,255,0) 100%);
    }

    #deepEarth{
        background-image: url(images/desktop/image-deep-earth.jpg);
    }

     #nightArcade{
        background-image: url(images/desktop/image-night-arcade.jpg);
     }
    
     #soccer{
        background-image: url(images/desktop/image-soccer-team.jpg);
     }
    
     #theGrid{
        background-image: url(images/desktop/image-grid.jpg);
     }
    
     #fromAbove{
        background-image: url(images/desktop/image-from-above.jpg);
     }
    
     #pocketBorealis{
        background-image: url(images/desktop/image-pocket-borealis.jpg);
     }
    
     #theCuriosity{
        background-image: url(images/desktop/image-curiosity.jpg);
     }
    
     #fishEye{
        background-image: url(images/desktop/image-fisheye.jpg);
     }

     #seeAll{
        position: absolute;
        right: 0px;
        top: 507px;
     }
  }